/* Citringo.net Main Style Sheet
 * (C)2015 Citringo
 * CSS3 に準拠。
 */

body {
    padding-top: 50px;
	background-color: #101010;
	font-family: "ヒラギノ角ゴ ProN", 'Hiragino Kaku Gothic ProN', "メイリオ", "IPAexゴシック", "VL ゴシック","Takao Gothic", "TakaoExゴシック", "Segoe UI Light", Arial;
}
.maincontainer {
    margin: 4px 4px;
	padding: 16px 16px;
    text-align: left;
	font-size: 13pt;
	background-color: white;
}

img {
    max-width: max-content;
    height: auto;
}

.mycarousel {
	max-width: 640px;
	max-height: 480px;
	margin-left: auto;
	margin-right: auto;
}

.headerback {
	position: relative;
	padding: 16px;
	color: #ffffff;
	text-align: center;
	background-color: #101010;
	background-image: url(../resources/darkcarpet.png);
}

.headerback img {
	max-width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 2%; 
	background-color: rgba(255,255,255,0.5);
}

.thumbnail img {
	padding: 8% 8%; /* 消費税<( 'ω')> */
}

// SNSリンクでのロゴに使う₍₍ (ง 'ω')ว ⁾⁾
.servicelogo {
	width: 32px; height: 26px; margin: 16px 13px;
}

.footerback {
	text-align: center;
	padding: 16px 8px;
	color: #ffffff;
	font-size: small;
	background-color: #101010;
	background-image: url(../resources/darkcarpet.png);
}

.footerback p a {
	color: lightskyblue;
}

.footerback p a :visited {
	color: lightpink;
}

.show-on-mobile-inline {
	display: inline;
}

.show-on-mobile-block {
	display: block;
}

.show-on-tab-inline {
	display: none;
}

.show-on-tab-block {
	display: none;
}

.show-on-pc-inline {
	display: none;
}

.show-on-pc-block {
	display: none;
}


@media ( min-width : 768px) {
	.show-on-mobile-inline .show-on-mobile-block {
		display: none !important;
	}

	.show-on-tab-inline {
		display: inline !important;
	}

	.show-on-tab-block {
		display: block !important;
	}


}

.nav-link span{
	font-size: 16px;

	transition: text-align 0.05s ease 0;

	-moz-transition: font-size 0.05s ease 0;
	-webkit-transition: font-size 0.05s ease 0;

	-o-transition: font-size 0.05s ease 0;

	-ms-transition: font-size 0.05s ease 0;
}

.nav-link:hover span {
	font-size: 18px;
}

@media (min-width: 992px)
{
	.show-on-mobile-inline .show-on-mobile-block .show-on-tab-inline .show-on-tab-block {
		display: none !important;
	}	

	.show-on-pc-inline{
		display: inline !important;
	}

	.show-on-pc-block {
		display: block !important;
	}

}

@font-face
{
	font-family: mplus-1p-regular;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
		format("truetype");
}

.btn-headerback {
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.btn-headerback:hover, .btn-headerback:focus, .btn-headerback.focus, .btn-headerback:active,
.btn-headerback.active, .open>.dropdown-toggle.btn-headerback {
	color: black;
	background-color: #ffffff;
	border-color: #ffffff;
}

.dark-theme {
	padding: 8px;
	color: white;
	background-color: black;
}

.light-theme {
	padding: 8px;
	color: black;
	background-color: white;
}

.marquee {
	overflow:hidden;
	position:relative;
}

.marquee p:after {
	content:"";
	white-space:nowrap;
	padding-right:50px;
}

.marquee p {
	margin:0;
	padding-left:100%;
	display:inline-block;
	white-space:nowrap;
	-webkit-animation-name:marquee;
	-webkit-animation-timing-function:linear;
	-webkit-animation-duration:10s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:marquee;
	-moz-animation-timing-function:linear;
	-moz-animation-duration:10s;
	-moz-animation-iteration-count:infinite;
	-ms-animation-name:marquee;
	-ms-animation-timing-function:linear;
	-ms-animation-duration:10s;
	-ms-animation-iteration-count:infinite;
	-o-animation-name:marquee;
	-o-animation-timing-function:linear;
	-o-animation-duration:10s;
	-o-animation-iteration-count:infinite;
	animation-name:marquee;
	animation-timing-function:linear;
	animation-duration:10s;
	animation-iteration-count:infinite;
}
@-webkit-keyframes marquee {
	from   { -webkit-transform: translate(0%);}
	99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
	from   { -moz-transform: translate(0%);}
	99%,to { -moz-transform: translate(-100%);}
}
@-ms-keyframes marquee {
	from   { -ms-transform: translate(0%);}
	99%,to { -ms-transform: translate(-100%);}
}
@-o-keyframes marquee {
	from   { -o-transform: translate(0%);}
	99%,to { -o-transform: translate(-100%);}
}
@keyframes marquee {
	from   { transform: translate(0%);}
	99%,to { transform: translate(-100%);}
}

